body{
    margin: 0;
    padding: 0;
}
header{ 
    background-color:black;
    color:white;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    height: 70px;
}
.restaurantLogo img{
    width:100px;
    height: 70px;
}
.nav-link a{
    text-decoration: none;
    color: white;
}
.social-icon img{
    width: 30px;
    height: 28px;
}
.mainContent{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.mainContent img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit:cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    transform: scale(1.05);
}
.main-heading{
    color: white;
    margin-left: 50px;
    font-weight: bold;
    font-size: 60px;
    font-family:'serif';
    line-height: 1.5; 
}
.mainContent span{
    display: inline-block;
    margin-top: -2px;
}
.divider{
    background-color: red;
    width:270px;
    height: 9px;
    margin-left: 50px;
}
.lorem-epsum{
    color: white;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 350px;
    margin-left: 50px;
}
.description-section{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.about-us h2{
    border-bottom: 4px solid red;
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.aboutus-description{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    margin-top: 50px;
}
.aboutus-description p{
    line-height: 30px;
    max-width: 450px;
    border-top: 3px solid red;   
    padding-top: 5px;
}
.aboutus-description img{
    width: 350px;
    height: 265px;
    border-radius: 5px;
}
.menu-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-section h2{
    border-bottom: 4px solid red;
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.menu-section p{
    line-height: 30px;
    max-width: 780px;  
    padding-top: 5px;
}
.menu-types{
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.menu{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 50px;
}
.menu img{
    width: 150px;
    height: 100%;
    border-radius: 5px;
}
.menu-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin-left: 10px;
}
.menu-text h5{
    color: #F2C94C;
    margin: 0 0 10px 0;
}
.menu-text p{
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    max-width: 226px;
}
.carousel-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-section h2{
    border-bottom: 4px solid red;
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.carousel-item img{
    height: 500px;
    margin-top: 30px;
    border-radius: 5px;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.gallery h2{
    border-bottom: 4px solid red;
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.gallery-images{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    
}
.gallery-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.img1{
    grid-row: 1/4;
    grid-column: 1/2;
}

.img2{
    grid-row: 1/2;
    grid-column: 2/3;   
}

.img3{
    grid-row: 2/3;
    grid-column: 2/3;  
}

.img4{
    grid-row: 3/4;
    grid-column: 2/3;   
}

.img5{
    grid-row: 1/3;
    grid-column: 3/4;   
}

.img6{
    grid-row: 3/4;
    grid-column: 3/4;   
}
.find-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.find-us h2{
    border-bottom: 4px solid red;
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}
.findus-address{
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-top: 50px;
    gap: 50px;
}
.map img{
    width: 60%;
    height: 80%;
}
.footer{
    background-color: black;
    height: 262px;
    display: flex;
    justify-content: space-around;
    padding: 150px 0;
    gap: 20%;
}
.footer img{
    width: 130px;
    height: 90px;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 15px;
    }

    .nav-link {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .aboutus-description,
    .menu-types,
    .findus-address {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 30px;
    }
    .menu-section p{
        max-width: 600px;
    }
    .menu-types {
        grid-template-columns: 1fr;
    }
    .carousel-item img{
        max-width: 500px;
    }
    .gallery-images {
        grid-template-columns: 1fr;  
    }

    .img1 {
        grid-row: auto;
        grid-column: auto;
    }
    .findus-address{
        margin-left: 35px;
        margin-top: 50px;
    }
    .footer img{
        width: 100px;
        height: 65px;
    }
    .mail img,
    .contact img{
        width: 100px;
        height: 65px;
    }
}